In [2]:
import pandas as pd

In [5]:
df = pd.read_excel("ITI Creator Approver_20_05_2024.xlsx", sheet_name="Sheet2")
df.shape

(29985, 14)

In [6]:
df.head()

,StateName,DistrictName,ITI Code,ITI Name,LoginID,FirstName,MiddleName,LastName,DateOfBirth,Designation,OfficePhoneNo,MobileNo,EmailID,IsActive
0,ANDAMAN AND NICOBAR ISLANDS,NICOBARS,GR35000004,"Govt ITI, Arong, Car Nicobar",GR35000004_A,Venketesh,NaN,Ch,1978-03-26,Principal Jr Scale,9679500691,9933246775,mindvenky@outlook.com,1
1,ANDAMAN AND NICOBAR ISLANDS,NICOBARS,GR35000004,"Govt ITI, Arong, Car Nicobar",GR35000004_C,SOKKALINGAM,NaN,K,1966-07-15,Vocational/Craft Instructor Practical,251712,9933246775,thankappansubodh66@gmail.com,1
2,ANDAMAN AND NICOBAR ISLANDS,NORTH AND MIDDLE ANDAMAN,GR35000002,Government Vocational Training Institute,GR35000002_A,Ch,NaN,Venketesh,1978-03-26,Principal Jr Scale,3192251270,9933246775,mailonrao@gmail.com,1
3,ANDAMAN AND NICOBAR ISLANDS,NORTH AND MIDDLE ANDAMAN,GR35000002,Government Vocational Training Institute,GR35000002_C,R S,NaN,PRABHURAJ,1991-02-18,Instructor,3192251270,9679577293,venketesh_ch@rediffmail.com,1
4,ANDAMAN AND NICOBAR ISLANDS,SOUTH ANDAMANS,GR35000001,Government Industrial Training Institute,GR35000001_A,Venketesh,NaN,Ch,1978-03-26,Principal Jr Scale,3192251712,8448512180,iti.and@nic.in,1

In [7]:
df.drop_duplicates(inplace = True)
df.shape

(29985, 14)

In [8]:
df.isnull().sum()
df.shape

(29985, 14)

In [10]:
df = df[["ITI Code", "ITI Name", "LoginID", "MobileNo"]]

In [11]:
for i in df.columns:
    df[i] = df[i].astype(str).str.strip().sort_values(ascending=True)

C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\2865944105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].astype(str).str.strip().sort_values(ascending=True)
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\2865944105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].astype(str).str.strip().sort_values(ascending=True)
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\2865944105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].astype(str).str.strip().sort_values(ascending=True)
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\2865944105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].astype(str).str.strip().sort_values(ascending=True)

In [14]:
df["ITI Name"] = df["ITI Name"].str.title()

C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\1024184545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ITI Name"] = df["ITI Name"].str.title()

In [15]:
df.drop(columns=['ITIName'], inplace=True)

C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\3032206105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['ITIName'], inplace=True)

In [16]:
df["ITI Name"] = df["ITI Name"].str.replace("Iti", "ITI")
df["LoginID"] = df["LoginID"].str.replace("pr", "PR")
df["LoginID"] = df["LoginID"].str.replace("pu", "PU")
df["LoginID"] = df["LoginID"].str.replace("gr", "GR")
df["LoginID"] = df["LoginID"].str.replace("gu", "GU")
df["LoginID"] = df["LoginID"].str.replace("_a", "_A")
df["LoginID"] = df["LoginID"].str.replace("_c", "_C")

C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\753474098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ITI Name"] = df["ITI Name"].str.replace("Iti", "ITI")
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\753474098.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LoginID"] = df["LoginID"].str.replace("pr", "PR")
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\753474098.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LoginID"] = df["LoginID"].str.replace("pu", "PU")
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\753474098.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LoginID"] = df["LoginID"].str.replace("gr", "GR")
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\753474098.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LoginID"] = df["LoginID"].str.replace("gu", "GU")
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\753474098.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LoginID"] = df["LoginID"].str.replace("_a", "_A")
C:\Users\goeld\AppData\Local\Temp\ipykernel_2036\753474098.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LoginID"] = df["LoginID"].str.replace("_c", "_C")

In [17]:
df = df.reset_index()

In [18]:
df = df[["ITI Code", "ITI Name", "LoginID", "MobileNo"]]

In [19]:
df["MobileNo"] = df["MobileNo"].str.replace(".0", "")

In [20]:
df.head()

,ITI Code,ITI Name,LoginID,MobileNo
0,GR35000004,"Govt ITI, Arong, Car Nicobar",GR35000004_A,9933246775
1,GR35000004,"Govt ITI, Arong, Car Nicobar",GR35000004_C,9933246775
2,GR35000002,Government Vocational Training Institute,GR35000002_A,9933246775
3,GR35000002,Government Vocational Training Institute,GR35000002_C,9679577293
4,GR35000001,Government Industrial Training Institute,GR35000001_A,8448512180

In [21]:
# Create new columns for mobile numbers for _C and _A
df['Creater_Mobile_Number'] = df[df['LoginID'].str.contains('_C', na=True)]['MobileNo']
df['Approver_Mobile_Number'] = df[df['LoginID'].str.contains('_A', na=True)]['MobileNo']

In [22]:
df.head()

,ITI Code,ITI Name,LoginID,MobileNo,Creater_Mobile_Number,Approver_Mobile_Number
0,GR35000004,"Govt ITI, Arong, Car Nicobar",GR35000004_A,9933246775,NaN,9933246775
1,GR35000004,"Govt ITI, Arong, Car Nicobar",GR35000004_C,9933246775,9933246775,NaN
2,GR35000002,Government Vocational Training Institute,GR35000002_A,9933246775,NaN,9933246775
3,GR35000002,Government Vocational Training Institute,GR35000002_C,9679577293,9679577293,NaN
4,GR35000001,Government Industrial Training Institute,GR35000001_A,8448512180,NaN,8448512180

In [16]:
df

,ITICode,ITIName,LoginID,MobileNo,Creater_Mobile_Number,Approver_Mobile_Number
0,GR35000001,Government Industrial Training Institute,GR35000001_C,9434266116,9434266116,NaN
1,GR35000001,Government Industrial Training Institute,GR35000001_A,8448512180,NaN,8448512180
2,GR35000002,Government Vocational Training Institute,GR35000002_C,9679577293,9679577293,NaN
3,GR35000002,Government Vocational Training Institute,GR35000002_A,9933246775,NaN,9933246775
4,GR35000004,"Govt ITI, Arong, Car Nicobar",GR35000004_A,9933246775,NaN,9933246775
...,...,...,...,...,...,...
28749,PU19000261,Ramakrishna Mission Ashram- Private Industrial...,PU19000261_A,7001544300,NaN,7001544300
28750,PU19000264,Elitte Private ITI,PU19000264_A,9831500840,NaN,9831500840
28751,PU19000266,Netaji Subhash Chandra Bose Pvt ITI,PU19000266_A,9933596821,NaN,9933596821
28752,PU19000268,Nhit Pvt ITI,PU19000268_A,7719364723,NaN,7719364723
28753,PU19000297,"Rishra Multi Skill Training Institute, Hooghly",PU19000297_A,8240334778,NaN,8240334778

In [28]:
grouped_df = df.groupby("ITICode")

In [29]:
len(grouped_df)

15402

In [31]:
grouped_df.size().sort_values(ascending = False)

ITICode
GR01000001    2
PR20000059    2
PR20000030    2
PR20000031    2
PR20000032    2
             ..
PR10000031    1
PR10000196    1
PR10000199    1
PR10000282    1
pu29000869    1
Length: 15402, dtype: int64

In [32]:
grouped_df.first()

,ITIName,LoginID,MobileNo,Creater_Mobile_Number,Approver_Mobile_Number
ITICode,,,,,
GR01000001,Govt Industrial Training Institute Srinagar,GR01000001_A,7006947733,9419071348,7006947733
GR01000002,Govt Industrial Training Institute Jammu,GR01000002_A,9103155946,None,9103155946
GR01000003,Govt Industrial Training Institute Anantnag,GR01000003_C,7006371081,7006371081,9858764444
GR01000004,Govt Industrial Training Institute Baramulla,GR01000004_A,9419418055,7006936528,9419418055
GR01000005,Govt Industrial Training Institute Rajouri,GR01000005_A,9906049713,7006189668,9906049713
...,...,...,...,...,...
nan,Nan,nan,nan,None,None
pr09901235,L P Private ITI,PR09901235_A,7394926124,None,7394926124
pu06000099,"Defence Pvt. Industrial Training Institute, Bh...",PU06000099_A,9996405307,None,9996405307
pu08001648,Marudhar Private ITI Suratgarh,PU08001648_A,7976159453,None,7976159453
pu29000869,Dr. Pandit Puttaraj Gawai ITI Gadag,PU29000869_A,9916062131,None,9916062131

In [33]:
grouped_df.last()

,ITIName,LoginID,MobileNo,Creater_Mobile_Number,Approver_Mobile_Number
ITICode,,,,,
GR01000001,Govt Industrial Training Institute Srinagar,GR01000001_C,9419071348,9419071348,7006947733
GR01000002,Govt Industrial Training Institute Jammu,GR01000002_A,9103155946,None,9103155946
GR01000003,Govt Industrial Training Institute Anantnag,GR01000003_A,9858764444,7006371081,9858764444
GR01000004,Govt Industrial Training Institute Baramulla,GR01000004_C,7006936528,7006936528,9419418055
GR01000005,Govt Industrial Training Institute Rajouri,GR01000005_C,7006189668,7006189668,9906049713
...,...,...,...,...,...
nan,Nan,nan,nan,None,None
pr09901235,L P Private ITI,PR09901235_A,7394926124,None,7394926124
pu06000099,"Defence Pvt. Industrial Training Institute, Bh...",PU06000099_A,9996405307,None,9996405307
pu08001648,Marudhar Private ITI Suratgarh,PU08001648_A,7976159453,None,7976159453
pu29000869,Dr. Pandit Puttaraj Gawai ITI Gadag,PU29000869_A,9916062131,None,9916062131

In [45]:
test1 = df.groupby(["ITICode", "ITIName", "Creater_Mobile_Number", "Approver_Mobile_Number"])["LoginID"].nunique().values

In [50]:
df.head()

,ITICode,ITIName,LoginID,MobileNo,Creater_Mobile_Number,Approver_Mobile_Number
0,GR35000001,Government Industrial Training Institute,GR35000001_C,9434266116,9434266116,NaN
1,GR35000001,Government Industrial Training Institute,GR35000001_A,8448512180,NaN,8448512180
2,GR35000002,Government Vocational Training Institute,GR35000002_C,9679577293,9679577293,NaN
3,GR35000002,Government Vocational Training Institute,GR35000002_A,9933246775,NaN,9933246775
4,GR35000004,"Govt ITI, Arong, Car Nicobar",GR35000004_A,9933246775,NaN,9933246775

In [ ]:
# Function to extract mobile number suffix based on LoginID suffix
def get_mobile_suffix(login_id):
    return '_C' if login_id.endswith('_C') else '_A'

# Function to count login users and get mobile number
def process_group(group):
    code = group['ITICode'].iloc[0]
    name = group['ITIName'].iloc[0]
    count_C = group[group['LoginID'].str.endswith('_C')]['LoginID'].count()
    count_A = group[group['LoginID'].str.endswith('_A')]['LoginID'].count()
    C_mobile_no = group[group['LoginID'].str.endswith('_C')]['MobileNo'].iloc[0]
    A_mobile_no = group[group['LoginID'].str.endswith('_A')]['MobileNo'].iloc[0]
    return pd.Series({'Code': code, 'Name': name, 'Number of Login Users': count_C + count_A, 
                      'C_Mobile_Number': C_mobile_no, 'A_Mobile_Number': A_mobile_no})

# Group by Code and apply the custom processing function
result = df.groupby('ITICode').apply(process_group).reset_index(drop=True)

print(result)

In [39]:
number_of_login_ids = grouped_df["LoginID"].nunique().values

In [53]:
def process_group(group):
    code = group['ITICode'].iloc[0]
    name = group['ITIName'].iloc[0]
    count_C = group[group['LoginID'].str.endswith('_C')]['LoginID'].count()
    count_A = group[group['LoginID'].str.endswith('_A')]['LoginID'].count()
    C_mobile_no = group[group['LoginID'].str.endswith('_C')]['MobileNo'].iloc[0] if count_C > 0 else None
    A_mobile_no = group[group['LoginID'].str.endswith('_A')]['MobileNo'].iloc[0] if count_A > 0 else None
    return pd.Series({'ITICode': code, 'ITIName': name, 'Number of Login Users': count_C + count_A, 
                      'C_Mobile_Number': C_mobile_no, 'A_Mobile_Number': A_mobile_no})

In [54]:
# Group by Code and apply the custom processing function
result = df.groupby('ITICode').apply(process_group).reset_index(drop=True)

print(result)

          ITICode                                            ITIName  \
0      GR01000001        Govt Industrial Training Institute Srinagar
1      GR01000002           Govt Industrial Training Institute Jammu
2      GR01000003        Govt Industrial Training Institute Anantnag
3      GR01000004       Govt Industrial Training Institute Baramulla
4      GR01000005         Govt Industrial Training Institute Rajouri
...           ...                                                ...
15397         nan                                                Nan
15398  pr09901235                                    L P Private ITI
15399  pu06000099  Defence Pvt. Industrial Training Institute, Bh...
15400  pu08001648                     Marudhar Private ITI Suratgarh
15401  pu29000869               Dr. Pandit Puttaraj Gawai  ITI Gadag

       Number of Login Users C_Mobile_Number A_Mobile_Number
0                          2      9419071348      7006947733
1                          1            None      9103155946
2                          2      7006371081      9858764444
3                          2      7006936528      9419418055
4                          2      7006189668      9906049713
...                      ...             ...             ...
15397                      0            None            None
15398                      1            None      7394926124
15399                      1            None      9996405307
15400                      1            None      7976159453
15401                      1            None      9916062131

[15402 rows x 5 columns]

In [1]:
import pandas as pd
df = pd.read_excel("comparison_for_sid.xlsx", sheet_name="ITIs available in SIDH")
df.drop_duplicates(inplace = True)
df = df[["ITICode", "ITIName", "LoginID", "MobileNo"]]
df["ITIName"] = df["ITIName"].str.title()
df["ITIName"] = df["ITIName"].str.replace("Iti", "ITI")
df["LoginID"] = df["LoginID"].str.replace("pr", "PR")
df["LoginID"] = df["LoginID"].str.replace("pu", "PU")
df["LoginID"] = df["LoginID"].str.replace("gr", "GR")
df["LoginID"] = df["LoginID"].str.replace("gu", "GU")
df["LoginID"] = df["LoginID"].str.replace("_a", "_A")
df["LoginID"] = df["LoginID"].str.replace("_c", "_C")
# df["MobileNo"] = df["MobileNo"].astypestr.replace(".0", "")
# Create new columns for mobile numbers for _C and _A
# df['Creater_Mobile_Number'] = df[df['LoginID'].str.contains('_C', na=True)]['MobileNo']
# df['Approver_Mobile_Number'] = df[df['LoginID'].str.contains('_A', na=True)]['MobileNo']

In [1]:
def process_group(group):
    code = group['ITI Code'].iloc[0]
    name = group['ITI Name'].iloc[0]
    count_C = group[group['LoginID'].str.endswith('_C')]['LoginID'].count()
    count_A = group[group['LoginID'].str.endswith('_A')]['LoginID'].count()
    C_mobile_no = group[group['LoginID'].str.endswith('_C')]['MobileNo'].iloc[0] if count_C > 0 else None
    A_mobile_no = group[group['LoginID'].str.endswith('_A')]['MobileNo'].iloc[0] if count_A > 0 else None
    return pd.Series({'ITI Code': code, 'ITI Name': name, 'Number of Login Users': count_C + count_A, 
                      'C_Mobile_Number': C_mobile_no, 'A_Mobile_Number': A_mobile_no})

In [2]:
# # Group by Code and apply the custom processing function
# result = df.groupby('ITICode').apply(process_group).reset_index(drop=True)

# print(result)

In [4]:
import pandas as pd
df1 = pd.read_excel("ITI Creator Approver_20_05_2024.xlsx", sheet_name="Sheet2")
df1.drop_duplicates(inplace = True)
# df1 = df1[["ITI Code", "ITI Name", "LoginID", "MobileNo"]]
# df1["ITI Name"] = df1["ITI Name"].str.title()
# df1["ITI Name"] = df1["ITI Name"].str.replace("Iti", "ITI")
# df1["LoginID"] = df1["LoginID"].str.replace("pr", "PR")
# df1["LoginID"] = df1["LoginID"].str.replace("pu", "PU")
# df1["LoginID"] = df1["LoginID"].str.replace("gr", "GR")
# df1["LoginID"] = df1["LoginID"].str.replace("gu", "GU")
# df1["LoginID"] = df1["LoginID"].str.replace("_a", "_A")
# df1["LoginID"] = df1["LoginID"].str.replace("_c", "_C")
# df1["MobileNo"] = df1["MobileNo"].str.replace(".0", "")
# # Create new columns for mobile numbers for _C and _A
# df1['Creater_Mobile_Number'] = df1[df1['LoginID'].str.contains('_C', na=True)]['MobileNo']
# df1['Approver_Mobile_Number'] = df1[df1['LoginID'].str.contains('_A', na=True)]['MobileNo']

In [5]:
# Group by Code and apply the custom processing function
result1 = df1.groupby('ITI Code').apply(process_group).reset_index(drop=True)

print(result1)

         ITI Code                                           ITI Name  \
0      CFI0200001      NATIONAL SKILL TRAINING INSTITUTE (W), Shimla
1      CFI0300001   National Skill Training Institute(Women), Mohali
2      CFI0600001        National Training Institute(Women), Panipat
3      CFI0800001   National Skill Training Institute(Women), Jaipur
4      CFI0900001     National Skill Training Insitute(Women), Noida
...           ...                                                ...
14972  PU36000520                                      SRINIVASA ITI
14973  PU36000521      TSRTC Industrial Training Institute Hakimapet
14974  SU21000619             Centurion University,Paikasta,Gopalpur
14975  SU21000620        Centurian University, Ramachndrapur,, Jtani
14976  SU21000621  Centurion University, Alluri Nagar, R. Sitapur...

       Number of Login Users  C_Mobile_Number A_Mobile_Number
0                          3     8.988407e+09      8988244908
1                          2     9.996482e+09      9417710001
2                          2     8.607000e+09      9811942877
3                          2     8.005637e+09      9610285791
4                          2     9.013475e+09      9971738488
...                      ...              ...             ...
14972                      2     9.441050e+09      8639796899
14973                      2     8.978598e+09      9100664452
14974                      2     9.668584e+09      7750988993
14975                      2     9.938381e+09      8328997354
14976                      2     9.437620e+09      9437985474

[14977 rows x 5 columns]

In [6]:
result1["C_Mobile_Number"].isnull().sum()

25

In [7]:
result1["A_Mobile_Number"].isnull().sum()

110

In [8]:
result1.to_excel("compiled_data.xlsx", index=False)

In [7]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Border, Side

# Specify the output Excel file path
# output_excel_file = r"./final_output_data.xlsx"

# Create a Pandas Excel writer object
with pd.ExcelWriter("compiled_data.xlsx") as writer:
    # Iterate over the dictionary of dataframes
        # Write each dataframe to a separate sheet in the Excel file
    result1.to_excel(writer, sheet_name= "Sheet1", index=False)
    # result1.to_excel(writer, sheet_name="ITIs NOT available in SIDH", index=False)

    # Access the workbook and the corresponding worksheet
    # workbook = writer.book

Exception ignored in: <function ZipFile.__del__ at 0x000001E42AE2DE50>
Traceback (most recent call last):
  File "c:\Users\goeld\anaconda3\envs\nlp\lib\zipfile.py", line 1833, in __del__
    self.close()
  File "c:\Users\goeld\anaconda3\envs\nlp\lib\zipfile.py", line 1850, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

In [12]:
pip install --upgrade pandas openpyxl

Requirement already satisfied: pandas in c:\users\goeld\anaconda3\envs\nlp\lib\site-packages (2.0.3)
Requirement already satisfied: openpyxl in c:\users\goeld\anaconda3\envs\nlp\lib\site-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\goeld\anaconda3\envs\nlp\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\goeld\anaconda3\envs\nlp\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\goeld\anaconda3\envs\nlp\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\goeld\anaconda3\envs\nlp\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: et-xmlfile in c:\users\goeld\anaconda3\envs\nlp\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\goeld\anaconda3\envs\nlp\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.